.sidebar {
    flex: 2;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;

}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(201, 199, 199);
}

.sidebarWrapper {
    padding: 20px;
    
}

.sidebarList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sidebarButton {
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 400;
    border: none;
    cursor: pointer;
}

.sidebarHr {
    margin: 20px 10px;
}

.sidebarFriendList{
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebarFriendListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.friendImage {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    object-fit: cover;
}